body{
background-color:#FFFFCC;
}
.section,.comp,.loc,.pos,.des{
	font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: medium; 
}
.section{
color:#7AAFFF;
background-color:#B88A00;
margin-top:25px;
margin-bottom:25px;
margin-right:25px;
margin-left:25px;
width:500px;
height:auto;
font:
}

p{
margin:5px;
}
.comp,.loc,.pos{
font-weight:bold;
}
.comp{
text-decoration:underline;
}